source https://api.nuget.org/v3/index.json
framework >= net45

nuget Microsoft.Bcl.Immutable 1.1.20-beta beta
nuget Microsoft.Bcl.Metadata 1.0.9-alpha alpha
nuget Microsoft.CodeAnalysis 0.6.4033103-beta beta
nuget Microsoft.CodeAnalysis.CodeActions 0.6.4033103-beta beta
nuget Microsoft.CodeAnalysis.Common 0.6.4033103-beta beta
nuget Microsoft.CodeAnalysis.CSharp 0.6.4033103-beta beta
nuget Microsoft.CodeAnalysis.CSharp.Workspaces 0.6.4033103-beta beta
nuget Microsoft.CodeAnalysis.VisualBasic 0.6.4033103-beta beta
nuget Microsoft.CodeAnalysis.VisualBasic.Workspaces 0.6.4033103-beta beta
nuget Microsoft.CodeAnalysis.Workspaces.Common 0.6.4033103-beta beta